/*
  BASED ON CSS CRT screen effect by Lucas Bebber 
  https://codepen.io/lbebber/pen/XJRdrV
*/

body {
  color: white;
  padding-top: 20px;
  padding-left: 20px;
}

@keyframes flicker {
  0% {
    opacity: 0.15011;
  }
  5% {
    opacity: 0.61567;
  }
  10% {
    opacity: 0.32133;
  }
  15% {
    opacity: 0.06013;
  }
  20% {
    opacity: 0.64048;
  }
  25% {
    opacity: 0.33923;
  }
  30% {
    opacity: 0.54194;
  }
  35% {
    opacity: 0.37421;
  }
  40% {
    opacity: 0.82459;
  }
  45% {
    opacity: 0.04945;
  }
  50% {
    opacity: 0.22046;
  }
  55% {
    opacity: 0.86766;
  }
  60% {
    opacity: 0.5383;
  }
  65% {
    opacity: 0.68648;
  }
  70% {
    opacity: 0.56058;
  }
  75% {
    opacity: 0.35491;
  }
  80% {
    opacity: 0.80373;
  }
  85% {
    opacity: 0.69772;
  }
  90% {
    opacity: 0.30698;
  }
  95% {
    opacity: 0.06703;
  }
  100% {
    opacity: 0.37951;
  }
}

.container::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}
.container::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.container::after {
  animation: flicker 0.15s infinite;
}



@keyframes overlay-anim {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  21% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
.overlay {
  color: #00FF00;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 60px;
  visibility: hidden;
  pointer-events: none;
}

#switch:checked ~ .container .overlay {
  animation: overlay-anim 5s linear;
  animation-fill-mode: forwards;
}
